<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sucecss - My E-commerce Store</title>
    <link rel="stylesheet" href="./success.css" />
  </head>

  <body>
    <header></header>
    <main>
      <div class="card">
          <div class="container">
              <div class="success center-content">
                <img
                  src="../../images/success/image_check.png"
                  alt="success"
                  style="width: 70px"
                />

                <h1 class="title1"><b>Success</b></h1>
            </div>
          <div class="payment-details">
            <p class="sub-title"><b></b>PAYMENT AND SHIPPING DETAILS</p>
            <div class="properties">
              <p>Order Amount</p>
              <p class="focus">$16580</p>
            </div>
            <div class="properties">
              <p>Est. Delivery</p>
              <p class="focus">23th December</p>
            </div>
            <div class="properties">
              <p>Installation Date</p>
              <p class="focus">25th December | 4:30 AM</p>
            </div>
            <p class="sub-title"><b></b>SM Workshop</p>
            <p class="description">
              4th Hayam Wuruk Road, Legacy Regency Layout, PWD Quarters,
              Reliable Tranquil Layout, Jawa Timur, Surabaya 60543
            </p>
          </div>
          <div class="center-content">

              <h2 class="title"><b>How was everything?</b></h3>
                <img
              src="../../images/success/image_star.png"
              alt="success"
              style="width: 220px"
            />
          </div>
        <br>
        <a href="../../../index.html">
            <button class="custom-button">Continue Shop</button>
        </a>
        </div>
      </div>
    </main>
    <footer>
      <!-- Footer content -->
    </footer>
    <script src="../../script/scripts.js"></script>
  </body>
</html>
