<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - My E-commerce Store</title>
    <link rel="stylesheet" href="about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="logo">
                    <a href="../../../index.html">
                        <img src="../../images/home/logo.svg" alt="logo" />
                    </a>
                </div>
                <div class="right">
                    <div class="nav">
                        <ul class="nav-links">
                            <li><a href="../shop/shop.html">Shop</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="./about.html">About Us</a></li>
                            <li>
                                <a href="../shipping/shipping.html">Shipping</a>
                            </li>
                        </ul>
                    </div>
                    <div class="search-bar">
                        <input type="text" placeholder="Search Something" class="search-input" />
                    </div>
                    
                    <!-- Add this code where you want to place the login and signup links -->
                    <div class="user-actions">
                        <img class="person" src="../../images/home/person.svg" alt="person" />
                        <a class="signin" href="#"">Log In</a>
                        <a class="signup" href="#">Sign Up</a>
                    </div>
                    <!-- Add this code where you want to place the cart link -->
                    <div class="cart">
                        <a href="#">
                            <img src="../../images/home/cart.svg" alt="Cart" />
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Add about us content here -->
    <main>
        <div class="about-us">
            <div class="content-about-us">
                <h1>About Us</h1>
                <p>HavenMarket merupakan perusahaan independen penghasil tas dengan bahan yang berkualitas serta mempercayai bahwa kebebasan manusia dalam berekspresi merupakan hak bagi seluruh manusia serta berjuang untuk selalu menyebar hal positif.</p>
            </div>
            <img src="../../images/about/image_hvm.png" alt="About Us Image" />
        </div>
    </main>
    <footer>
        <!-- Footer content -->
    </footer>
    <script src="../../script/scripts.js"></script>

</body>
</html>
